
.pic{
 display: flex;

margin: 5px;
 height: 400px;
 background-color: bisque;

}
.us{
 color: black;
 background-color: bisque; 
 text-align: center;
 width: 200px ;
 margin: 5% 40%;

}
.yellow{
 background-color: bisque ;
 
}

.i{
 flex: 1;
margin: 5px;
}

.down{
 border: black solid 10px;
 text-align: center;
 margin: 30px;
 padding: 20px;
 background-color: white;
  
}


.text{
 padding-top: 5px;
 display: flex;
 height: 250px;
 background-color: grey;
}

.y{
padding: 5px;
border: blue solid;
 padding: 5px;
 margin: 5px;
 background-color: bisque;

}
span{
 color: black;
 background-color:bisque ;
 font-size: 30px;

}


.footer {
 /* position: fixed; */
 padding: 1px;
 margin: 0px;
 left: 0;
 bottom: 0;
 width: 100%;
 background-color:rgba(0, 0, 0, 0.748);
 color: white;
 text-align: center;
}

.lorem{
 text-align: center;
 margin: 5% 5% 5% 5%;
}



.navbar {
 width: 100%;
 background-color: bisque;
 overflow: auto;
}

/* Navbar links */
.navbar a {
 float: left;
 text-align: center;
 padding: 12px;
 color: black;
 text-decoration: none;
 font-size: 17px;
}
.home{
 background-color: blue;
}
/* Navbar links on mouse-over */
.navbar a:hover {
 background-color: rgb(75, 172, 81);
}

/* Current/active navbar link */
.active {
 background-color: #4CAF50;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
 .navbar a {
   float: none;
   display: inline;
 }


 














